---
import DashboardLayout from "../layouts/DashboardLayout.astro";
export const head = {
    title: "About",
    description: "Learn more about ",
};
---

<DashboardLayout>
    <h1>About</h1>
</DashboardLayout>
