---
import Base from "../layouts/Base.astro";
---

<Base>
    <div class="py-3">
        <h1>Astro</h1>
    </div>
    <div>
        <a href="/dashboard" target="_blank" class="p-2"> DASHBOARD </a>
    </div>
</Base>
