---
import Base from "../layouts/Base.astro";
import Sidebar from "../components/Sidebar.astro";
import TopNav from "../components/TopNav.astro";

interface Props {
    title?: string;
    description?: string;
}
const { title, description } = Astro.props;
---

<Base title="Dashboard">
    <button
        data-drawer-target="sidebar-multi-level-sidebar"
        data-drawer-toggle="sidebar-multi-level-sidebar"
        aria-controls="sidebar-multi-level-sidebar"
        type="button"
        class="text-heading bg-transparent box-border border border-transparent hover:bg-neutral-secondary-medium focus:ring-4 focus:ring-neutral-tertiary font-medium leading-5 rounded-base ms-3 mt-3 text-sm p-2 focus:outline-none inline-flex sm:hidden"
    >
        <span class="sr-only">Open sidebar</span>
        <svg
            class="w-6 h-6"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
        >
            <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-width="2"
                d="M5 7h14M5 12h14M5 17h10"></path>
        </svg>
    </button>

    <Sidebar />
    <div class="p-4 sm:ml-64">
        <TopNav title={title} />
        <slot />
    </div>
</Base>
